<section class="text-light text-center d-flex justify-content-center">
  <p class="">© 2035 By AMK Productions. Powered and secured   </p>
  <div>
    <ul class="d-flex justify-content-between">
      <li class="mx-2" ><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li class="mx-2" ><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="mx-2" ><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li class="mx-2" ><a href="#"><i class="fa-brands fa-github"></i></a></li>
    </ul>
  </div>
</section>
