<section
  class="d-flex flex-column flex-md-row align-items-center mx-0 mx-md-4"
>
  <div class="text text-light text-center mx-4">
    <h1>المشاهدة في أي مكان</h1>
    <p>
      شاهد أفلامًا وعروضًا تلفزيونية لا حصر لها على هاتفك أو جهازك اللوحي أو
      حاسوبك المحمول أو حتى على تلفزيونك.
    </p>
  </div>
  <div class="vedioContainer">
    <img
      src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
      alt=""
      class="w-100"
    />
    <div class="vedio">
      <video
        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
        autoplay
        loop
      ></video>
    </div>
  </div>
</section>
