
@media screen and (min-width : 1000px) {
  .text h1
{
  font-size: 40px;
}
.text p
{
  font-size: 30px;
}
.text
{
  max-width: 50%;

}
}


.vedio
{
  position: absolute;
  top: 21%;
  left: 13%;
  max-width: 73%;
  overflow: hidden;
  max-height: 57%;
}
.vedioContainer
{
  position: relative;

}
.vedioContainer img
{
  overflow: hidden;
}
