<section class="d-flex flex-column flex-md-row-reverse align-items-center mx-0 mx-md-4 mb-5 ">
  <div class="text text-light text-center mx-4">
    <h1>المشاهدة في أي مكان</h1>
    <p>
      شاهد على أجهزة التلفزيون الذكية و PlayStation و Xbox و Chromecast و Apple TV ومشغلات Blu-ray والمزيد.
    </p>
  </div>
  <div class="vedioContainer">
    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" class="w-100" alt="">
    <div class="vedio">
      <video
      src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
      autoplay
      loop
      class="w-100"
      >
    </video>
    </div>
  </div>
</section>
