<section>
  <div class="logo">
    <h1 class="text-capitalize ">RABITO</h1>
  </div >
  <div class="txt">
    <div class="  d-flex justify-content-center">
      <h1 class="text-uppercase text-light">montain -</h1>
      <h1 class="text-uppercase text-light"> Box -</h1>
      <h1 class="text-uppercase text-danger"> movies</h1>
    </div>
    <div class="d-flex justify-content-center m-auto w-50 position-relative ">
      <input type="text" placeholder="Movie Name" class="form-control px-3">
      <button class="btn text-uppercase">Search</button>
    </div>
  </div>
</section>
