<section>
  <div class="mt-5 text-center text-white">
    <h2 class="titleText">About AMK Productions</h2>
    <span>Films | TV Shows | Creative Development</span>
    <div class="px-md-5 mx-md-5 d-flex justify-content-center">
      <p class="paraText mt-2 text-center">
        Join us to get the best exclusive movies and series and the best offers
        and discounts of up to 20% when you join our website.
        <a routerLink ="about4" class="text-nowrap">Click here</a>
        for more information about us.
      </p>
    </div>
  </div>
</section>
